<html>
<head>
<title>Chat Room</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="static/style.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<div  class="text-white  shadow-sm rounded banner" >
    <h1 class="display">Fun facts</h1>
       <div style="text-align: right; margin-right: 50px" id="callback-button" class="header__button get-modal_1"><i class="fas fa-share-alt"></i></div>
          <h3>Think about a fun fact about yourselves and write it on a note</h3>
</div>

<script type="text/javascript">
$(document).ready(function() {

	var socket = io.connect('http://127.0.0.1:5000');



	socket.on('message', function(msg) {
		$("#messages").append('<li>'+msg+'</li>');
		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
		socket.send($('#myMessage').val());
		$('#myMessage').val('');
	});

});
</script>
<div style="text-align: center"  class="fact">
    <textarea  type="text" class="form-control" id="myMessage" rows="6" cols="50" spellcheck="false" placeholder="Type in something and hit send"></textarea>
    <button id="sendbutton">Send</button>
    <ul id="messages"></ul>
</div>

  <div class="modal" id="modal-1">
    <div class="modal__content">
      <button class="modal__close-button"><img src="static/close.svg" width="12" alt=""></button>
      <!-- Контент модального окна -->
      <h2 class="modal-title">Invite your team!</h2>
        <h4>Send this link to your teammates so they can join and collaborate:</h4>
       <div class="modal-body">
        <p>http://127.0.0.1:5000/facts</p>
      </div>
    </div>
  </div>

  <script src="static/scripts.js"></script>
</body>
</html>